*{
    box-sizing: border-box;
}

html, body, #page-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(248, 168, 159);
    overflow: hidden;
}

/****Tags****/

p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1%;
}

/****IDs****/

#win-text {
    font-size: 6em;
    position: relative;
    top: 1em;
}

#game-container {
    width: 65vw;
    max-width: 650px;
    height: 100vh;
    position: relative;
    top: 25px;
    margin: auto;
}

#tile-container-outer {
    width: 62vw;
    max-width: 624px;
    height: 62vw;
    max-height: 624px;
    background-color: rgb(26, 197, 197);
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
}

#tile-container-inner {
    width: 60vw;
    max-width: 604px;
    height: 60vw;
    max-height: 604px;
    background-color: rgb(198, 200, 202);
    border: 2px solid black;
    position: relative;
    top: 1%;
    margin: auto;
    
    display: grid;
    grid-template-columns: auto auto auto;

}

/****Classes****/

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: white;
    animation: fadeIn 2s linear;
}

.tile{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;

    cursor: pointer;
}

.tile-1 {
    background: url('./happy-48398.png') no-repeat top right;
    background-size: 300%;

}

.tile-2 {
    background: url('./happy-48398.png') no-repeat center right;
    background-size: 300%;
}

.tile-3 {
    background: url('./happy-48398.png') no-repeat bottom center;
    background-size: 300%;
}

.tile-4 {
    background: url('./happy-48398.png') no-repeat bottom left;
    background-size: 300%;
}

.tile-5 {
    background: url('./happy-48398.png') no-repeat top left;
    background-size: 300%;
}

.tile-6 {
    background: url('./happy-48398.png') no-repeat center center;
    background-size: 300%;
}

.tile-7 {
    background: url('./happy-48398.png') no-repeat center left;
    background-size: 300%;
}

.tile-8 {
    background: url('./happy-48398.png') no-repeat top center;
    background-size: 300%;
}

.row-1-col-1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.row-1-col-2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-1-col-3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.row-2-col-1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.row-2-col-2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-2-col-3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.row-3-col-1{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.row-3-col-2{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-3-col-3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.confetti-container {
    width: 100%;
    height: 100%;
}

.confetti {
    width: 10px;
    height: 10px;
    background-color: rgb(242, 215, 78);
    position: absolute;
    top: -10%;
    left: 50%;
    animation: confetti 5s linear 2s infinite;
    transform-origin: left top;
    z-index: 1;
}
.confetti:nth-child(1) {
    background-color: rgb(242, 215, 78);
    top: -10%;
    left: 10%;
    animation-delay: 1s;
}
.confetti:nth-child(2n) {
    background-color: rgb(77, 182, 243);
    top: -10%;
    left: 20%;
    animation-delay: 5s;
}
.confetti:nth-child(3n+3) {
    background-color: rgba(40, 246, 47, 1);
    top: -10%;
    left: 30%;
    animation-delay: 3s;
}
.confetti:nth-child(4n + 4) {
    background-color: rgb(213, 78, 242); 
    top: -10%;
    left: 40%; 
    animation-delay: 2.5s;
}
.confetti:nth-child(5n + 5) {
    background-color: rgb(77, 182, 243); 
    top: -10%;
    left: 50%; 
    animation-delay: 4s;
}
.confetti:nth-child(6n + 6) {
    background-color: rgba(40, 246, 47, 1); 
    top: -10%;
    left: 60%; 
    animation-delay: 6s;
}
.confetti:nth-child(7n + 7) {
    background-color: rgb(242, 215, 78); 
    top: -10%;
    left: 70%; 
    animation-delay: 1.5s;
}
.confetti:nth-child(8n + 8) {
    background-color: rgb(77, 182, 243); 
    top: -10%;
    left: 80%; 
    animation-delay: 2s;
}
.confetti:nth-child(9n + 9) {
    background-color: rgba(40, 246, 47, 1);
    top: -10%;
    left: 90%; 
    animation-delay: 3.5s;
}
.confetti:nth-child(10n + 10) {
    background-color: rgb(213, 78, 242); 
    top: -10%;
    left: 100%; 
    animation-delay: 2.5s;
}

/****Keyframes/Animations****/

@keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    20% { transform: rotateZ(5deg) rotateY(180deg) translate(-5vw,20vh); }
    40% { transform: rotateZ(15deg) rotateY(360deg) translate(5vw,60vh); }
    60% { transform: rotateZ(5deg) rotateY(540deg) translate(-10vw,80vh); }
    80% { transform: rotateZ(15deg) rotateY(720deg) translate(-10vw,100vh); }
    100% { transform: rotateZ(5deg) rotateY(900deg) translate(15vw,130vh); }
}
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.8;}
 }